{% extends 'doctors/base.html' %}

{% block title %}Edit Doctor{% endblock %}

{% block sidebar %}
{% include 'doctors/sidebar.html' %}
{% endblock %}

{% block navbar %}
{% include 'doctors/dashboard_navbar.html' %}
{% endblock %}

{% block content %}
<section class="container px-4 mx-auto">
    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md">
        <h2 class="text-lg font-medium text-gray-800 dark:text-white mb-4">Edit Doctor</h2>
        <form method="POST" action="{{ url_for('doctor.edit_doctor', doctor_id=doctor.id) }}">
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Name</label>
                <input 
                    type="text" 
                    name="name" 
                    id="name" 
                    value="{{ doctor.name }}" 
                    class="w-full py-2 px-3 bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    required
                >
            </div>
            <div class="mb-4">
                <label for="specialization" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Specialization</label>
                <input 
                    type="text" 
                    name="specialization" 
                    id="specialization" 
                    value="{{ doctor.specialization }}" 
                    class="w-full py-2 px-3 bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    required
                >
            </div>
            <div class="flex justify-end">
                <button type="submit" class="px-6 py-2 bg-blue-600 text-white rounded-full hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Save</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
