{% extends 'clients/base.html' %} 

{% block content %}
<div class="container">
    <h1>Confirm Cancellation</h1>
    <p>Are you sure you want to cancel the appointment with Dr. {{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }} on {{ appointment.appointment_date }}?</p>
    
    <form action="{{ url_for('patient.cancel_appointment', appointment_id=appointment_id) }}" method="post">
        <button type="submit" class="btn btn-danger">Confirm Cancellation</button>
        <a href="{{ url_for('show_appointments') }}" class="btn btn-secondary">Go Back</a>
    </form>
</div>
{% endblock %}
